In [1]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [3]:
print('C:/Windows')

C:/Windows

In [4]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
\n 줄바꿈
\t 탭

In [ ]:
오늘은(공백)일요일

In [5]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [7]:
print("first", end ="");print("second")

firstsecond

In [8]:
print(5/3)

1.6666666666666667

In [10]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [12]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [14]:
s = "hello"
t = "python"

print(s+"!", t)

hello! python

In [17]:
2 + 2 * 3

8

In [18]:
a = 128
print(type(a))

<class 'int'>

In [19]:
a = 132
print(type(a))

<class 'int'>

In [27]:
num_str='720'
num_int = int(num_str)
print(num_int+1, type('num_int'))

721 <class 'str'>

In [28]:
num = 100
num = str(num)
print(num,type(num))

100 <class 'str'>

In [39]:
n = "15.79"
n = float(n)
print(n, type(n))

15.79 <class 'float'>

In [41]:
year = "2020"
year = int(year)

print(year-3).type()
print(year-2)
print(year-1)

2017

AttributeError: 'NoneType' object has no attribute 'type'

In [44]:
월 = 48584
총금액 = 월 * 36 
print(총금액)

1749024

In [47]:
letters = 'python'
print(letters[0], letters[2])

p t

In [49]:
license_plate = "24가 2210"
license_plate[4:8]

'2210'

In [63]:
string = "홀짝홀짝홀짝"  
print(string[::2])
print(string[1::2])
print(string[::-1])

홀홀홀
짝짝짝
짝홀짝홀짝홀

In [62]:
string = "PYTHON"
print(string[::-1])

NOHTYP
PTO

In [69]:
phone_number = "010-1111-2222"
print(phone_number.split('-'))
print(phone_number.replace('-',' '))
print(phone_number.replace('-',''))

['010', '1111', '2222']
010 1111 2222
01011112222

In [73]:
url = "http://sharebook.kr"
url2 = url.split('.')
print(url2[1])

'kr'

In [74]:
lang = 'python'
lang[0] = 'P'
print(lang)

문자열은 할당 메서드를 지원하지 않는다

TypeError: 'str' object does not support item assignment

In [77]:
string = 'abcdfe2a354a32a'
string2 = string.replace('a','A')
print(string2)

Abcdfe2A354A32A

In [79]:
string = 'abcd'
string.replace('b', 'B')
print(string)

변경되지 않는다, replace 메서드는 원본을 둔채 변경된 문자열을 리턴해줄 뿐

abcd

In [80]:
a = "3"
b = "4"
print(a + b)

34

In [81]:
print("Hi" * 3)

HiHiHi

In [83]:
print('-' * 80)

--------------------------------------------------------------------------------

In [85]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [91]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [93]:
print('이름: %s 나이: %d' %(name1,age1))
print('이름: %s 나이: %d' %(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [96]:
print('이름: {} 나이: {}' .format(name1,age1))
print('이름: {} 나이: {}' .format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [98]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [101]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(',',"")
변환 = int(컴마제거)
print(변환, type(변환))

5969782550 <class 'int'>

In [103]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [107]:
data = "   삼성전자    "
print(data.strip())

삼성전자

In [108]:
ticker = "btc_krw"
ticker2 = ticker.upper()
print(ticker2)

BTC_KRW

In [109]:
ticker = "BTC_KRW"
ticker2 = ticker.lower()
print(ticker2)

btc_krw

In [110]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [113]:
file_name.endswith(('xlsx','xls'))

True

In [115]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [120]:
a = "hello world"
a.split()

['hello', 'world']

In [123]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [124]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [125]:
data = "039490     "
data.strip()

'039490'

In [131]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)
del movie_rank[3]
print(movie_rank)
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨']

In [132]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang3 = lang1 + lang2
print(lang3)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [139]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [140]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [142]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [146]:
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
print(avg)

3.0

In [147]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [148]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[0::2]

[1, 3, 5, 7, 9]

In [150]:
nums[1::2]

[2, 4, 6, 8, 10]

In [151]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [155]:
interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0],interest[2])

삼성전자 Naver

In [157]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [158]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [160]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [162]:
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [170]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [173]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)
print(data)

[1, 2, 3, 4, 5, 9, 10]
[2, 4, 3, 1, 5, 10, 9]

In [175]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [176]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [179]:
my_tuple = (1, )
type(my_tuple)

tuple

In [181]:
t = (1, 2, 3)
t[0] = 'a'
튜플은 원소 값을 변경할 수 없음

TypeError: 'tuple' object does not support item assignment

In [184]:
t = ('A', 'b', 'c')

In [186]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest2 = list(interest)
print(type(interest2))

<class 'list'>

In [187]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tu_interest = tuple(interest)

In [188]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [191]:
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [196]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,b,*valid_score= scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [197]:
a,*valid_score,c= scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [198]:
temp = {}

In [199]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [202]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

{'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '누가바': 1000}

In [203]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [204]:
inventory

KeyError: 0

In [205]:
print(inventory["메로나"][0], '원')

300 원

In [1]:
user = input("입력:")
print(user * 2)

입력: 안녕하세요

안녕하세요안녕하세요

In [4]:
user = int(input("숫자를 입력하세요:"))
print(user + 10)

숫자를 입력하세요: 30

40

In [6]:
user = int(input("숫자를 입력하세요:"))
if user % 2 == 0:
    print("짝수")
else:
    print("홀수")

숫자를 입력하세요: 30

짝수

In [8]:
user = int(input("입력값:"))
num = user + 20
if num > 255:
    print(255)
else:
    print(num)

입력값: 220

240

In [11]:
user = int(input("입력값:"))
num =  user - 20

if num < 0:
    print(0)
elif num > 255:
    print(255)
else:
    print(num)

입력값: 3

0

In [12]:
time = input("현재시간:")
if time[-2:] == '00':
    print('정각')
else:
    print('정각이 아닙니다')

현재시간: 12:10

정각이 아닙니다

In [14]:
fruit = ["사과", "포도", "홍시"]
fav_fruit = input("좋아하는 과일은:")
if fav_fruit in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

좋아하는 과일은: 복숭아

오답입니다.

In [16]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
doornot = input("투자하려는 종목은?:")
if doornot in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print('투자 경고 종목이 아닙니다')

투자하려는 종목은?: APPLE

투자 경고 종목이 아닙니다

In [18]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
season = input("제가좋아하는계절은:")
if season in fruit.keys():
    print('정답입니다.')
else:
    print('오답입니다.')

제가좋아하는계절은: 겨울

오답입니다.

In [19]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
fav_fruit = input("제가좋아하는과일은:")
if fav_fruit in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

제가좋아하는과일은: 복숭아

오답입니다.

In [24]:
string = input("문자하나입력:")
if string.islower():
    print(string.upper())
else :
    print(string.lower())

문자하나입력: a

A